<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioComponents</key>
	<array>
		<dict>
			<key>description</key>
			<string>Ample Guitar M Style II Lite</string>
			<key>factoryFunction</key>
			<string>AGML2AUFactory</string>
			<key>manufacturer</key>
			<string>Apsd</string>
			<key>name</key>
			<string>Ample Sound: Ample Guitar M II Lite</string>
			<key>subtype</key>
			<string>Amls</string>
			<key>type</key>
			<string>aumu</string>
			<key>version</key>
			<integer>131856</integer>
		</dict>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>15B42</string>
	<key>CFBundleExecutable</key>
	<string>AGML2</string>
	<key>CFBundleIdentifier</key>
	<string>com.amplesound.AGML2</string>
	<key>CFBundleName</key>
	<string>AGML2</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3.1</string>
	<key>CFBundleSignature</key>
	<string>PTul</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2.3.1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>7D175</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>15E60</string>
	<key>DTSDKName</key>
	<string>macosx10.11</string>
	<key>DTXcode</key>
	<string>0730</string>
	<key>DTXcodeBuild</key>
	<string>7D175</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Ample Sound Co., Ltd.</string>
</dict>
</plist>
